<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583671036879-om8jgqbsgfml3ubimpgqhnquqmkc5ren.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583671036879-om8jgqbsgfml3ubimpgqhnquqmkc5ren</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>583671036879-sfrtjjo0p3ek5aq9hqj8h81pr8fbp7ag.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD1CQJoAvzai-65BXVb9AuTJYb_uOozMRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>583671036879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boomboom.dating</string>
	<key>PROJECT_ID</key>
	<string>boomboom-7394b</string>
	<key>STORAGE_BUCKET</key>
	<string>boomboom-7394b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583671036879:ios:3e5ae83834e9f9752cb0ba</string>
</dict>
</plist>